ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 75px;
    background-color: #f1f1f1;
}
li a{
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}
.black {
    color: black;
}
.black:hover {
    color: white;
    background-color: black;
}
.red {
    color: red;
}
.red:hover {
    color: #fff;
    background-color: red;
}
.orange {
    color: orange;
}
.orange:hover {
    color: white;
    background-color: orange;
}
.yellow {
    color: #dd0;
}
.yellow:hover {
    color: #fff;
    background-color: #dd0;
}
.green {
    color: green;
}
.green:hover {
    color: #fff;
    background-color: green;
}
.blue {
    color: blue;
}
.blue:hover {
    color: white;
    background-color: blue;
}
.purple {
    color: purple;
}
.purple:hover {
    color: white;
    background: purple;
}